#browser {
	    --radius: 14px !important;
	    --radiusHalf: calc(var(--radius) * 0.5) !important;
}
.extensions-wrapper .button-toolbar.browserAction-button {
	width: calc((var(--padding) * 2) + 10px);
}
.tabs-top .tab-position .tab {
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	transition: background-color 0.2s ease-in-out;
}

span > .tab-position > .tab:not(.tab-mini):not(.active):hover {
	background-color: var(--colorHighlightFgAlphaHeavy) !important;
}
span > .tab-position > .tab:not(.tab-mini):not(.active):not(:hover)::after {
    content: "";
    right: -1px;
    height: calc(100% - 14px);
    top: 7px;
    width: 0px;
	border-left: 1px solid #00000033;
    position: absolute;
}
span > .tab-position > .tab:not(.tab-mini):not(.active):hover::after {
    background-color: #00000000;
}
#browser:not(.ui-transparent-tabs).color-behind-tabs-on .tab-position .tab {
    background-color: transparent;
}
#browser:not(.ui-transparent-tabs).color-behind-tabs-on .tab-position .tab {
    background-color: transparent;
}
#browser:not(.ui-transparent-tabs).color-behind-tabs-on .tab-position .tab:hover:not(.active) {
    background-color: initial;
}
#tabs-container {
	min-height: 35px;
}
.tab-position .tab .tab-header {
	flex: 0 0 35px;
	align-items: center;
}
.tab-position .tab .thumbnail-image {
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: none !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    opacity: 0.8;
}
	
#browser.color-behind-tabs-on .tab-position .tab:not(.tab-mini)::before {
    content: "";
    background-color: transparent;
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 1;
    left: -9.8px;
    top: calc(100% - 10px);
    -webkit-mask: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 70%, #000 73%);
}	
#browser.color-behind-tabs-on .tab-position .tab:not(.active):not(.tab-mini):hover::before {
	background-color: var(--colorHighlightFgAlphaHeavy) !important;
}
#browser.color-behind-tabs-on .tab-position .tab:not(.tab-mini).active::before {
    background-color: var(--colorBg);
}
#browser.color-behind-tabs-on .tab-position .tab:not(.active):not(.tab-mini):hover::after,
#browser.color-behind-tabs-on .tab-position .tab:not(.tab-mini).active::after {
    content: "";
    background-color: transparent;
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 1;
    right: -8.8px;
    top: calc(100% - 10px);
    -webkit-mask: radial-gradient(circle at 100% 0, rgba(0, 0, 0, 0) 70%, #000 73%);
}
#browser.color-behind-tabs-on .tab-position .tab:not(.active):not(.tab-mini):hover::after {
	background-color: var(--colorHighlightFgAlphaHeavy) !important;
}
#browser.color-behind-tabs-on .tab-position .tab:not(.tab-mini).active::after {
    background-color: var(--colorBg);
}

.private#browser {
    padding-top: 10px !important;
    box-shadow: 0 20px 0 -10px #546E7A inset;
}

.button-tabbar.newtab {
    bottom: 5px !important;
}
.tab .close {
	border-radius: 100%;
    background-color: transparent;
}
.tab .close:hover {
	border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.sync-and-trash-container {
	margin-bottom: 5px;
}
.button-toolbar.newtab > button, .button-toolbar.newtab > button:hover {
	-webkit-mask: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='26' height='26' version='1.1' viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title/%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cpath d='m13 5a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8zm-1 3h2v4h4v2h-4v4h-2v-4h-4v-2h4v-4z' style='paint-order:stroke fill markers'/%3E%3C/svg%3E");
	-webkit-mask-position: 50% 50%;
	background: var(--colorImageForeground, var(--colorFg));
}
div.toolbar-insideinput > div > button,
div.toolbar-insideinput > div > button > img {
	border-radius: 100% !important;
	overflow: hidden !important;
}
